**/*.ini
data/micro.csv
data/Shared_Micromobility_Vehicle_Trips.csv
data/nano.csv
data/nano_ts.csv
data/time_series.csv
data/device_records/*.txt
data/device_records_small/*.txt
data/sample_full_list.csv
data/jan_19_ts.csv
data/full_ts.csv
*.pyc
models/*
figures/ts/*
data/*.txt
data/*.csv
figures/prophet_tuning/*
figures/estimation_by_area_jan.pdf
figures/output.png
figures/test_area_model_prediction.pdf
src/test_in_use.py
