<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- MDB CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/mdb.min.css">
        <!-- Plugin file -->
        <link rel="stylesheet" href="./css/addons/datatables.min.css">
        <link rel="stylesheet" href="css/style.css">

        
        <!-- <link href="../static/cover.css" rel="stylesheet"> -->
        <title>Scoot Home!</title>
    </head>
    <body>
        <!-- Page Content -->
        <div class="text-dark container col-9">
            <!-- Jumbotron Header -->
            <header class=" jumbotron jumbotron-fluid my-0 p-4">
                <h2 class="strong">Scoot Home<span class="small text-muted"> - Helping you make sure you can complete your journey</span></h2><hr class="my-4">
                <p class="lead">You can easily see what scooters and bikes are in your area now. But will there be one for you later when you want to return home? Scoot Home helps you estimate the likelihood that you'll be able to make a round trip using shared micromobility in Austin.</p>
            </header>
            <!-- Page Features -->
            {% if error %}
            <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
            {% endif %}
            <form action="{{ url_for('results') }}" method="POST" role="form">
                <div class="text-left form-group">
                    <label class="h5" for="destination">Where will you need a transportation?<br/><br />
                        <span class="lead">Example:</span>
                        <input class="form-control" type="text" placeholder="4729 Burnet Rd., Austin, TX" readonly></label><br/>
                        <textarea rows="2" class="form-control" name="destination" id="destination"></textarea></div>
                <hr class="my-4">

                <div class="text-left form-group">
                    <label class="h5" for="time">When will you need transportation? You can ask for any time in the next 7 days.<br/>
                        <span class="lead">Example:</span>
                        <input class="form-control" type="text" placeholder="{{now}}" readonly></label><br/>
                        <textarea rows="1" class="form-control" name="time" id="time"></textarea></div>
                <hr class="my-4">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="transpoType" id="transpoTypeScooter" value="scooter" checked>
                        <label class="form-check-label" for="transpo_scooter">
                            Scooter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="transpoType" id="transpoTypeBike" value="bike">
                        <label class="form-check-label" for="transpo_bike">
                            Bicycle
                        </label>
                    </div>
                </div>

                <button type="submit" class="mt-3 mb-1 btn btn-success btn-rounded">Estimate availability!</button>
            </form>
        </div>
        <footer class="page-footer font-small">
            <div class="text-dark container col-9">
                <div class="row">
                    <div class="col-md-12 py-4 text-center">
                        <a href="https://www.linkedin.com/in/brendan-apfeld/" class="li-ic">
                            <i class="fab fa-linkedin-in fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a href="https://github.com/bapfeld/" class="li-ic">
                            <i class="fab fa-github fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a href="https://gitlab.com/bapfeld" class="li-ic">
                            <i class="fab fa-gitlab fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a href="https://stackoverflow.com/users/4325492/brendan-a" class="li-ic">
                            <i class="fab fa-stack-overflow fa-sm white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://brendanapfeld.com"> Brendan Apfeld</a><br>
            <a href="https://www.websitepolicies.com/policies/view/OsfVBepR">Site Terms and Conditions </a><br>
            <a href="https://www.websitepolicies.com/policies/view/u1pwcEBK">Disclaimer </a>
        </div>
        <!-- Copyright -->
        </footer>

        <!-- Closing JS -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Plugin file -->
        <script src="./js/addons/datatables.min.js"></script>
    </body>
</html>
