<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        
        <!-- <link href="../static/cover.css" rel="stylesheet"> -->
        <title>Scoot on Home!</title>
    </head>
    <body>
        <!-- Page Content -->
        <div class="text-dark container col-9">
            <!-- Jumbotron Header -->
            <header class=" jumbotron jumbotron-fluid my-0 p-4">
                <h2 class="strong">Scoot on Home<span class="small text-muted"> - Helping you make sure you can complete your journey</span></h2><hr class="my-4">
                <p class="lead">You can easily see what scooters and bikes are in your area now. But will there be one for you later when you want to return home? Scoot on Home helps you estimate the likelihood that you'll be able to make a round trip using shared micromobility in Austin.</p>
            </header>
            <!-- Page Features -->
            {% if error %}
            <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
            {% endif %}
            <form action="{{ url_for('results') }}" method="POST" role="form">
                <div class="text-left form-group">
                    <label class="h5" for="destination">Where will you need a scooter?<br/><br />
                        <span class="lead">Example:</span>
                        <input class="form-control" type="text" placeholder="4729 Burnet Rd., Austin, TX" readonly></label><br/>
                        <textarea rows="2" class="form-control" name="destination" id="destination"></textarea></div>
                <hr class="my-4">

                <div class="text-left form-group">
                    <label class="h5" for="time">When will you need a scooter? You can ask for any time in the next 48 hours.<br/>
                        <span class="lead">Example:</span>
                        <input class="form-control" type="text" placeholder="Jan 24, 10:45PM" readonly></label><br/>
                        <textarea rows="1" class="form-control" name="time" id="time"></textarea></div>
                <hr class="my-4">

                <button type="submit" class="mt-3 mb-1 btn btn-success">Estimate my options!</button>
            </form>
        </div>
    </body>
</html>
